<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.mapper.ClinicMapper">
    <resultMap id="BaseResultMap" type="com.graduation.entity.Clinic">
        <id column="clinic_id" jdbcType="BIGINT" property="clinicId" />
        <result column="dept_id" jdbcType="BIGINT" property="deptId" />
        <result column="clinic_name" jdbcType="VARCHAR" property="clinicName" />
        <result column="is_active" jdbcType="INTEGER" property="isActive" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        clinic_id, dept_id, clinic_name, is_active, create_time, update_time
    </sql>
</mapper>